USE [Review]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/6/2020 4:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [int] NOT NULL,
	[username] [varchar](20) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[chucvu] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 12/6/2020 4:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[ID] [int] NOT NULL,
	[TenPhim] [nvarchar](50) NOT NULL,
	[DaoDien] [nvarchar](50) NULL,
	[NgayCC] [date] NULL,
	[TheLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_Phim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Review]    Script Date: 12/6/2020 4:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ID] [int] NOT NULL,
	[Header] [ntext] NULL,
	[Body1] [ntext] NULL,
	[Footer] [ntext] NULL,
	[IDTP] [int] NOT NULL,
	[State] [int] NOT NULL,
	[star] [int] NOT NULL,
	[IDNV] [int] NULL,
	[NgayViet] [date] NULL,
 CONSTRAINT [PK_Revieww] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Account] ([ID], [username], [password], [chucvu]) VALUES (1, N'Nghia', N'123', N'DG')
INSERT [dbo].[Account] ([ID], [username], [password], [chucvu]) VALUES (2, N'Tanh', N'123456', N'AD')
INSERT [dbo].[Account] ([ID], [username], [password], [chucvu]) VALUES (3, N'Hung', N'123', N'DG')
INSERT [dbo].[Phim] ([ID], [TenPhim], [DaoDien], [NgayCC], [TheLoai]) VALUES (1, N'Mắt Biếc', N'Victor Vũ', CAST(N'2019-12-20' AS Date), N'1')
INSERT [dbo].[Phim] ([ID], [TenPhim], [DaoDien], [NgayCC], [TheLoai]) VALUES (2, N'Avenger: End Game', N'Joe Russo, Anthony Russo', CAST(N'2019-04-22' AS Date), N'1')
INSERT [dbo].[Phim] ([ID], [TenPhim], [DaoDien], [NgayCC], [TheLoai]) VALUES (3, N'Đắc Nhân Tâm', N'Dale Carnegie', CAST(N'1936-01-01' AS Date), N'2')
